#contactUs .content-box {
  margin: 4.8vw;
  border-bottom: 0.5px dashed #EEC988;
  padding-bottom: 6.4vw;
}
#contactUs .content-box .map-box {
  height: 46.67vw;
  margin-bottom: 4.8vw;
}
#contactUs .content-box .map-box img {
  display: block;
  height: 100%;
}
#contactUs .content-box .title {
  font-size: 6.4vw;
  line-height: 121%;
  margin-bottom: 4.53vw;
}
#contactUs .content-box .slim-title {
  font-size: 3.2vw;
  padding-top: 4.53vw;
  line-height: 142%;
}
#contactUs .content-box .slim-content {
  color: white;
  font-size: 3.2vw;
  line-height: 142%;
  padding-top: 2.13vw;
}
#contactUs .content-box a.slim-content {
  text-decoration: underline;
}
#contactUs .case-box .txt {
  font-size: 2.67vw;
  line-height: 180%;
  text-align: center;
  letter-spacing: 0.115em;
}
#contactUs .case-box .list {
  margin: 4.8vw auto 11.73vw;
}
#contactUs .case-box .list .swiper-container {
  width: 80%;
  position: relative;
}
#contactUs .case-box .list .swiper-container .img-box {
  height: 15.47vw;
  width: 15.47vw;
  border-radius: 50%;
  margin: 0 auto 1.56vw;
  cursor: pointer;
}
#contactUs .case-box .list .swiper-container .img-box img {
  width: 100%;
}
#contactUs .case-box .list .swiper-container .swiper-pagination-progressbar {
  top: initial;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  bottom: -3.645vw;
  background: rgba(204, 204, 204, 0.6);
}
#contactUs .case-box .list .swiper-container .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  height: 6px;
  top: -2px;
  background: #FFE100;
}
